@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply bg-white;
  font-family: "Manrope", sans-serif;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}
